<!-- templates/delivery_time/create.html -->
{% extends 'base.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/progress_style.css' %}">

{% endblock %}

{% block title %}
    <title>Confirmar comprar</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center mb-4">
        <div>
            <h4>Confirmar dados</h4>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert cart-item message {{ message.tags }}">
                <div>{{ message }}</div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" id="confirm-form">
        {% csrf_token %}
        <input type="hidden" name="payment_method" id="payment_method" value="">
        <input type="hidden" name="address" id="address" value="">
        <div class="row mb-3">
            <div class="col-sm-12 col-md-6 col-lg-4 mr-auto" id="confirm-container">
                <h4>Endereço de entrega</h4>
                <div class="list-group m-0">
                    {% for address in addresses %}
                        <a id="{{ address.id }}" class="list-group-item address list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ address.city }} - {{ address.state }}</h5>
                            </div>
                            <p>{{ address.street }} {{ address.number }}</p>
                            <p class="mb-1">{{ address.district }}</p>
    
                            <small>{{ address.zip_code }}</small>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Formas de pagamento</h4>
                <div class="list-group">
                    <a id="C" class="list-group-item list-group-item-action payment">
                        Dinheiro
                    </a>
                    <a id="CC" class="list-group-item list-group-item-action payment">Cartão de credito</a>
                    <a id="DC" class="list-group-item list-group-item-action payment">Cartão de debito</a>
                </div>
            </div>
            <div class="col-12">
                <div class="justify-content-end d-none" id="change-container">
                    <label for="change" class="my-2 mr-2">Troco: R$</label>
                    <input type="decimal" id="change" name="change" class="form-control w-auto" placeholder="0.00">
                </div>
            </div>
        </div>
        <div class="row text-center mb-3 mt-5">
            <div class="col-12">
                <h4>Produtos adicionados</h4>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="cart-item">
                <div class="header">
                    <div>Produto</div>
                    <div>Valor</div>
                    <div>Quantidade</div>
                    <div>Subtotal</div>
                </div>
            </div>
            {% if cart|length > 0 %}
                {% for cart_product in cart %}
                    <div class="cart-item">
                        <div class="body">
                            <div class="product">
                                <div class="img">
                                    {% comment %} Foto do produto aqui {% endcomment %}
                                </div>
                                <div>
                                    <h5>{{ cart_product.product.name }}</h5>
                                    <p>{{ cart_product.product.variety }}</p>
                                    <p>Vendedor: {{ cart_product.user.first_name }}</p>
                                </div>
                            </div>
                            <div class="unit-value">
                                <div>R$ {{ cart_product.product.price|floatformat:2|intcomma }}</div>
                            </div>
                            <div class="quantity">
                                <input type="number" readonly max="{{ cart_product.product.stock_amount }}" name="quantity" value="{{ cart_product.quantity }}" class="form-control">
                            </div>
                            <div class="subtotal">
                                {% multiply cart_product.quantity cart_product.product.price as subtotal %}
                                <div>R$ {{ subtotal|floatformat:2|intcomma }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert cart-item message {{ message.tags }}">
                    <div>Nenhum produto na cesta de compras</div>
                </div>
            {% endif %}
        </div>
        <div class="d-flex justify-content-between">
            <a class="mt-4 btn btn-secondary w-auto" href="{% url 'cart' %}" type="submit" title="Voltar para o carrinho">Voltar para o carrinho</a>
            <button class="mt-4 btn btn-primary w-auto" form="confirm-form" type="submit" title="Finalizar compra">Finalizar compra</button>
        </div>
    </form>
    <script>
        $('.list-group-item.address').on('click', function () {
            $('.list-group-item.address').removeClass('active')
            $(this).addClass('active')
            $('#address').val($(this).attr('id'))
        })
        $('.list-group-item.payment').on('click', function () {
            $('.list-group-item.payment').removeClass('active')
            $(this).addClass('active')
            $('#payment_method').val($(this).attr('id'))

            if ($(this).attr('id') == 'C') {
                $('#change-container').addClass('d-flex')
                $('#change-container').removeClass('d-none')
            } else {
                $('#change-container').removeClass('d-flex')
                $('#change-container').addClass('d-none')
            }
        })

    </script>
{% endblock %}
