<!-- templates/home_seller.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Gerenciar Vendas</title>{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
    
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Vender</h4>
        </div>
    </div>
    {% if request.user.is_seller %}
        <div class="row justify-content-center">
            <div class="card manage">
                <div class="card-body">
                    <span class="fa fa-user-circle fa-2x"></span>
                    <h3 class="card-title">
                    Endereço de atendimento
                    </h3>
                </div>
                <div class="card-footer">
                    <a href="{% url 'create_service_address'%}" class="btn btn-primary">
                        Adicionar
                    </a>
                    <a href="{% url 'list_service_address'%}"class="btn btn-primary">
                        Gerenciar
                    </a>
                </div>
            </div>
        </div>
        {% elif request.user.seller_status == 'P' %}
            <div class="row justify-content-center">
                <p> Sua solicitação está sendo analisada</p>
            </div>
        {% elif not request.user.is_seller %}
            <form method="POST" action="{% url 'seller_request' %}">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center form_container">
                        <div class="form-group">
                            <label for="sale-description">Você ainda não é um vendedor, caso queira torna-se um, solicite permisão abaixo</label>
                            <textarea class="form-control" id="sale-description" name="sale_description" rows="4" cols="50" placeholder="Descreva o seu negocio" ></textarea>
                            <button class="mt-4 btn btn-primary" type="submit">Solicitar</button>
                        </div>
                    </div>
            </form>
        {% endif %}

{% endblock %}