<!-- templates/delivery_time/create.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Gerenciar solicitação para vender</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Solicitações para ser vendedor</h4>
        </div>
    </div>
    <div class="inner_container mt-4">
        
        <table class="custom_table mt-5">
            <thead>
                <tr>
                    <th>Ação</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for seller in sellers %}
                <tr>
                    <td>
                        <div class="actions">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="admin_email" value="{{admin.email }}">
                                <input class="btn btn-primary" type="submit" value="Remover">
                            </form>
                    
                        </div>
                    </td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ seller.email }}</td>
                    <td>{{ seller.phone_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}