<!-- templates/product/create.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} 
<title>Visualizar vendedor</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

<body>
  <div class="wrapper">
    <div class="product-img">
      <img src="{{ seller.user_pic.url}}" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>Produtor | {{ seller.first_name }}</h1>
        {% if service_adds|length > 0 %}
          {% for service_add in service_adds %}
          <h2>Estado | {{ service_add.state }}</h2>
          <h2>Horário de entrega|</h2>
          {% endfor %}
        {% endif %}
        
        
      </div>
      
    </div>
  </div>

</body>


{% endblock %}