<!-- templates/home/create.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %} 
<title>Produtos</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Produtos</h4>
        </div>
    </div>
    <div class="inner_container mt-4">
        <a class="btn btn-primary" href="{% url 'create_product' %}">
            Novo
        </a>
        {% if mensagem %}
            <p>{{ mensagem }}</p>
        {% endif %}
        <table class="custom_table mt-5">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Nome</th>
                    <th>Dias de validade</th>
                    <th>Preço(UN)</th>
                    <th>Quantidade em estoque</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        <div class="actions">
                            <form action="{% url 'delete_product' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <input class="btn btn-primary" type="submit" value="Remover">
                            </form>
                            
                            <a class="btn btn-primary" href="{% url 'update_product' product.id %}">Editar</a>
                        </div>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.expiration_days }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock_amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
