<!-- templates/home/create.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %} 
<title>Produtos</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Produtos</h4>
        </div>
    </div>
    <div class="inner_container mt-4">
        <a class="btn btn-primary" href="{% url 'create_product' %}">
            Novo
        </a>
        {% if mensagem %}
            <p>{{ mensagem }}</p>
        {% endif %}
        <table class="custom_table mt-5">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Nome</th>
                    <th>Dias de validade</th>
                    <th>Preço(UN)</th>
                    <th>Quantidade em estoque</th>
                </tr>
            </thead>
            <tbody>
            {% if products|length > 0 %}
                {% for product in products %}
                <tr>
                    <td>
                        <div class="actions">
                            
                            <button type="button"
                                    class="btn btn-danger"
                                    data-toggle="modal"
                                    data-target="#includedModal"
                                    data-query="product_id={{ product.id }}"
                                    tittle="Deletar produto">
                                    <span class="fas fa-trash"></span>
                            </button>

                            <a class="btn btn-primary"
                                    href="{% url 'update_product' product.id %}"
                                    tittle="Editar produto">
                                    <span class="fas fa-edit"></span>
                            </a>
                            
                        </div>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.expiration_days }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock_amount }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Nenhum produto cadastrado</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% url 'delete_product' as action_url %}
    {% include 'modal.html' with modal_id="includedModal" header="Você tem certeza?" message='Você não poderá acessar esse produto, tem certeza que deseja proceder?' confirm="Sim, remover permanentemente" cancel="Cancelar" %}
{% endblock %}
