{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script href="{% static 'js/' %}"></script>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
    <link rel="stylesheet" href="{% static 'css/style_ch.css' %}">
{% endblock %}

{% block title %}
    <title>Da Roça</title>
{% endblock %}

{% block content %}
    <div class="wrapper d-flex align-items-stretch">

      <nav id="sidebar" class="active bg-success">
        <ul class="list-unstyled components ">
            <li class="active">
              <a href="#"><span class="fas fa-box-open"></span> Pedidos</a>
            </li>
            <li>
                <a href="#"><span class="fas fa-user"></span> Cadastro</a>
            </li>
            <li>
              <a href="#"><span class="fas fa-map-marked-alt"></span> Endereços</a>
            </li>
            <li>
              <a href="#"><span class="far fa-credit-card"></span> Cartões</a>
            </li>
            <li>
              <a href="#"><span class="fas fa-star"></span> Avaliações</a>
            </li>

        </ul>

      </nav>
    </div>

    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}