{% extends 'users_profile/customer_home_base.html' %}

{% block title %}
<title>Buscar</title>
{% endblock %}

{% block page %}
        <div class="col-sm-12 col-lg-8">
            <div>
                <div class="row ml-1">
                    {% if sellers|length > 0 %}

                        {% for user in sellers %}

                            <div class="mt-4 col-3">
                                <img class="rounded-circle" width="100" height="100" src="{{ user.user_pic.url }}">
                            </div>

                            <div class="col-8 mt-4 ml-3">
                                <a href="{% url 'view_seller' user.id %}" class="link-success h4">{{ user.first_name }} {{ user.last_name }}</a>
                                <p class="h5 mt-2">{% if user.delivery_price > 0 %} Entrega: R$ {{ user.delivery_price }}0 {% else %} Entrega: Grátis {% endif %}</p>
                                <p class="h6 mt-2">{{ user.store_status }}</p>
                            </div>

                        {% endfor %}

                    {% elif products|length > 0 %}

                        {% for product in products %}

                            <div class="mt-4 mb-3 col-3">
                                <img class="rounded-circle" width="100" height="100" src="{{ product.product_pic.url }}">
                            </div>

                            <div class="col-8 mt-4 mb-2 ml-3">
                                <a href="{% url 'view_product' product.id %}" class="link-success h4">{{ product.name }}</a>
                                <p class="h6 mt-2">{{ product.variety }} R$ {{ product.price }}0</p>
                                <p class="h6 mt-2">{{ product.searchSellerName }}</p>
                            </div>

                        {% endfor %}

                    {% elif sellers is not None or products is not None %}
                        <h6 class="text-success">Desculpe, não encontramos o que você procura <span class="far fa-frown fa-1x"></span></h6>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}