<!-- templates/registration/reset_password.html -->
{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Recuperação de senha</title>
{% endblock %}

{% block content %}
    <div class="d-flex h-100">
        <div class="user_card update w-100">
            <div class="d-flex flex-column align-items-center">
                <div class="mb-5" class="login_logo">
                    <img src="{% static 'images/logo.svg' %}" alt="Logo do DaRoça">
                </div>
                <div>
                    <h3 id="form-title">Confirmação de redefinição de senha</h3>
                </div>
                <p>
                    Nós enviamos um e-mail para você redefinir a sua senha, se existir
                    uma conta cadastrada com esse e-mail e ele for valido, você deve
                    receber em instantes.
                </p>
            </div>
        </div>
    </div>
{% endblock %}