<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Entrar</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex flex-column align-items-center">
                <div class="mb-5" class="login_logo">
                    <img src="{% static 'images/logo.svg' %}" alt="Logo do DaRoça">
                </div>
                <div>
                    <h3 id="form-title">Recuperar senha</h3>
                </div>
                <p>
                    Insira seu email para procurar a sua conta.
                </p>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-1">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{ form.email }}
                    </div>
                    <input class="mt-4 btn btn-primary" type="submit" value="Recuperar">
                </form>

            </div>
        </div>
    </div>
    <script>
        $('#id_email').addClass('form-control')
        $('#id_email').attr('placeholder', 'E-mail')
    </script>
{% endblock %}