  :root {
    /* Color variables */
    --color-primary: #0F8D50;
    --color-light: #DCFFEE;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-shadow: rgba(0,0,0,0.2);
    
    /* Shadows */
    --shadow-button: 2px 2px 10px var(--color-dark-shadow);
  }


  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--color-white);
    color: var(--color-primary);
  }

  /* 1- HEADER */

  header {
    background-color: var(--color-light);
    margin: 0 0 2em;
    box-shadow: 0px 2px 5px var(--color-dark-shadow);
  }

  .header_container {
    display: flex;
    align-items: center;
    padding: 0.5em;
    max-width: 600px;
    margin: 0 auto;
    color: var(--color-primary);
  }

  header nav {
    width: 100%;
  }

  header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    width: 100%;
    margin: 0;
  }
  
  header nav ul li {
    padding: 0.5em;
  }

  header a {
    color: var(--color-primary);
  }

  header a:active, header a:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
  
  header .logo img {
    width: 4em;
  }
  /* 1- END OF HEADER */

  .user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    border-radius: 5px;

  }

  .form_container {
    margin-top: 20px;
  }

  .form_container form {
    flex: 0 1 350px;
  }
  
  .container {
    display: block;
  }
  
  .container .inner_container {
    max-width: 600px;
    margin: 0 auto;
  }

  .custom_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    text-align: center;
    max-width: 800px;
    margin: 1em auto;
  }
  
  .custom_table th {
    border-bottom: 1px solid var(--color-primary);
    padding: 0.5em;
    margin: 0px;
  }

  .custom_table td {
    padding: 0.5em;
  }

  .custom_table tr + tr > td {
    border-top: 1px solid var(--color-primary);
  }

  #form-title{
     color: var(--color-primary);
    
  }

  .login_container {
    padding: 0 2rem;
  }

  .login_logo {
    width: 5em;  
  }

  .input-group-text {
    background: var(--color-primary);
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  
  }

  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }

  .form-control {
    border: 1px solid var(--color-primary);
    background: var(--color-light);
    color: var(--color-primary);
  }

  .btn {
    width: 100%;
    box-shadow: var(--shadow-button);
  }

  .btn-primary, .btn-primary:visited, .btn-primary:link {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  .btn-primary:hover, .btn-primary:active {
    background-color: var(--color-white) !important;
    border: 1px solid var(--color-primary);
    color: var(--color-primary) !important;
  }

  .btn-secondary {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  }

  .text-underline {
    color: var(--color-primary);
  }
  
  .text-underline:hover, .text-underline:active {
    color: var(--color-primary);
    text-decoration: underline;
  }

  #messages {
    background-color: grey;
    color: var(--color-white);
    padding: 10px;
    margin-top: 10px;
    border-color: var(--color-primary) !important;
  }

  body {
    color: var(--color-primary);
  }

  .titulos {
    font-size: 26px;
  }

  .terms-privacy {
    color: black;
    text-decoration: none;
    background: transparent;
    margin-top: 15px;
    align-self: center;
    text-align: center;
  }

  .actions {
    display: flex;
    justify-content: center;
  }

  .actions > * {
    flex: 0 1 80px;
    margin: 0 1em 0 0
  }

