  :root {
    /* Color variables */
    --color-primary: #0F8D50;
    --color-light: #DCFFEE;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-transparent: rgba(0,0,0,0);
    --color-dark-shadow: rgba(0,0,0,0.2);
    --color-danger: #aa0000;
    
    /* Shadows */
    --shadow-button: 2px 2px 10px var(--color-dark-shadow);
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--color-white);
    color: var(--color-primary);
  }

  p {
    margin: 0;
    padding: 0;
  }

  /* 1- HEADER */

  header {
    background-color: var(--color-light);
    margin: 0 0 2em;
    box-shadow: 0px 2px 5px var(--color-dark-shadow);
  }

  .header_container, .navbar {
    display: flex;
    align-items: center;
    padding: 0.5;
    max-width: 900px;
    margin: 0 auto;
    color: var(--color-primary);
  }

  header nav ul, .nav-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    padding: 0;
  }
  
  header nav ul li {
    padding: 0em;
  }

  header a {
    color: var(--color-primary);
  }

  header a:active, header a:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
  
  header .logo img {
    width: 5em;
    margin: 0 1em;
  }
  /* 1- END OF HEADER */

  .user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    border-radius: 5px;

  }

  .form_container {
    margin-top: 20px;
  }

  .form_container form {
    flex: 0 1 350px;
  }
  
  .container {
    display: block;
    max-width: 900px;
  }
  
  .container .inner_container {
    max-width: 900px;
    margin: 0 auto;
  }

  .custom-list-group {
    max-width: 900px;
  }

  .custom-list-item {
    color: var(--color-primary);
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    margin: 0.375em;
    flex: 0 0 30%;
    text-align: center;
  }

  .custom-list-item > .list-item-actions {
    display: flex;
    justify-content: center;
  }

  .custom-list-item:hover, .custom-list-item:active {
    color: var(--color-primary);
  }

  .custom-list-item > .list-item-actions .btn {
    margin: 0.375em;
    width: 48px;
  }

  .custom-list-item > h5 {
    margin-right: auto;
  }

  #form-title{
     color: var(--color-primary);
    
  }

  .login_container {
    padding: 0 2rem;
  }

  .login_logo {
    width: 5em;  
  }

  .search-bar.input-group {
    flex: 1 1 450px;
  }

  .input-group-text {
    background: var(--color-primary);
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  
  }

  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }

  .form-control {
    border: 1px solid var(--color-primary);
    background: var(--color-light);
    color: var(--color-primary);
  }

  .btn {
    width: 100%;
    box-shadow: var(--shadow-button);
  }

  .btn.btn-thin {
    width: 48px;
    margin: 0 0.5em;
    padding: 0.375em;
  }

  .btn.btn-nav {
    width: min-content;
    margin: 0 0.5em;
  }

  .btn-primary, .btn-primary:visited, .btn-primary:link {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  .btn-primary:hover, .btn-primary:active {
    background-color: var(--color-white) !important;
    border: 1px solid var(--color-primary);
    color: var(--color-primary) !important;
  }

  .btn-secondary {
    background-color: var(--color-transparent);
    border: 1px solid var(--color-transparent);
    color: var(--color-primary);
    box-shadow: none;
  }

  .btn-secondary:hover, .btn-secondary:active {
    background-color: var(--color-white) !important;
    border: 1px solid var(--color-primary);
    color: var(--color-primary) !important;
    box-shadow: var(--shadow-button);
  }

  .btn.btn-primary:disabled {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: none;
    box-shadow: none;
  }

  .btn.btn-primary:hover:disabled {
    background-color: var(--color-white) !important;
    color: var(--color-primary) !important;
  }

  .border-custom {
    border: 1px solid var(--color-primary);
    border-radius: 5px;
  }

  .text-underline {
    color: var(--color-primary);
  }
  
  .text-underline:hover, .text-underline:active {
    color: var(--color-primary);
    text-decoration: underline;
  }

  #messages {
    background-color: grey;
    color: var(--color-white);
    padding: 10px;
    margin-top: 10px;
    border-color: var(--color-primary) !important;
  }

  body {
    color: var(--color-primary);
  }

  .titulos {
    font-size: 26px;
  }

  .terms-privacy {
    color: black;
    text-decoration: none;
    background: transparent;
    margin-top: 15px;
    align-self: center;
    text-align: center;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .actions > * {
    flex: 0 1 80px;
    margin: 0 1em 0 0;
  }

  .list-group .list-group-item.active {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-white);
  }

  .list-group .list-group-item.active:hover, .list-group .list-group-item.active:active {
    color: var(--color-white);
  }
  
  /* 2- ADMIN CARDS */
  .card.manage {
    width: 250px;
    margin: 0 0.5em;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card .btn + .btn {
    margin-top: 0.5em;
  }
  /* 2- FIM DE ADMIN CARDS */

  /* 3- FILTER POPUP */

  .filter {
    position: relative;
  }
  
  .filter-popup {
    box-shadow: var(--shadow-button);
    position: absolute;
    background: white;
    padding: 1.5em;
    border: 1px solid green;
    border-radius: 5px;
    width: 200px;
    top: 3em;
  }

  .filter-popup.disabled {
    visibility: hidden;
  }
  /* 3- FIM FILTER POPUP */

  /* 4- USER-MENU */
  .user-menu li {
    padding: 1em 1.5em 1em 0;
  }

  .user-menu a {
    color: var(--color-primary);
  }
  /* 4- FIM USER-MENU */

  /* 5- CUSTOM TABLE */
  .custom_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    text-align: center;
    max-width: 900px;
    margin: 1em auto;
    overflow-x: auto;
  }
  
  .custom_table th {
    border-bottom: 1px solid var(--color-primary);
    padding: 0.5em;
    margin: 0px;
  }

  .custom_table td {
    padding: 0.5em;
  }

  .custom_table tr + tr > td {
    border-top: 1px solid var(--color-primary);
  }

  .custom_table-pagination {
    display: block;
  }
  
  .custom_table-pagination ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .custom_table-pagination ul li:first-child a {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .custom_table-pagination ul li:last-child a {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .custom_table-pagination ul li a {
    padding: 0.75em;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    text-decoration: none;
  }

  .custom_table-pagination ul li a:active, .custom_table-pagination ul li a:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    text-decoration: none;
  }

  .custom_table-pagination ul li a.active {
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    text-decoration: none;
  }
  /* 5- FIM DE CUSTOM TABLE */

  /* 6- CART ITEM CARD */
  .cart-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--color-primary);
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    margin: 0.375em;
    flex: 0 0 30%;
    text-align: center;
  }

  .cart-item.message {
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
  }

  .cart-item.message div {
    flex: 0 0 95%;
  }

  .cart-item.message button {
    flex: 0 0 5%;
  }

  .cart-item.message.error {
    color: var(--color-danger);
    border: 1px solid var(--color-danger);
  }

  .cart-item.message.success {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  .cart-item .header {
    display: flex;
    align-items: center;
  }

  .cart-item .body {
    display: flex;
    flex: 0 0 30%;
  }

  .cart-item .header > div {
    padding: 0.5em;
  }

  .cart-item .header > div:first-child {
    flex: 0 1 40%;
  }

  .cart-item .header > div:nth-child(2) {
    flex: 0 1 15%;
  }

  .cart-item .header > div:nth-child(3) {
    flex: 0 1 25%;
  }

  .cart-item .header > div:last-child {
    flex: 0 1 20%;
  }

  .cart-item .body .product {
    display: flex;
    flex: 0 1 40%;
    text-align: left;
    align-items: center;
  }

  .cart-item .product .img {
    background-color: var(--color-primary);
    flex: 0 1 20%;
    height: 100px;
    margin: 0.5em;
  }

  .cart-item .body .product > div {
    flex: 0 1 40%;
    margin: 0 0.5em 0 0;
  }

  .cart-item .product h5 {
    margin-right: auto;
  }

  .cart-item .body .unit-value {
    flex: 0 1 15%;
    text-align: center;
    align-self: center;
  }

  .cart-item .body .quantity {
    display: flex;
    align-items: center;
    flex: 0 1 25%;
  }

  .cart-item .quantity form {
    margin: 0;
    padding: 0;
    flex: 0 1 48px;
  }

  .cart-item .quantity form.form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 96px;
  }

  .cart-item .quantity .btn, .cart-item .subtotal > form .btn{
    margin: 0.375em;
    width: 48px;
  }

  .cart-item .subtotal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 20%;
  }

  .cart-item .subtotal > div {
    flex: 0 0 65%;
    text-align: right;
  }

  .cart-item .subtotal > form {
    flex: 0 0 35%;
  }
  /* 6- FIM DE CART ITEM CARD */

  #confirm-container {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
  }