<!-- templates/serive_address/create.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} 
<title>Onde você irá atender?</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Onde você irá atender?</h4>
        </div>
    </div>
    <div class="d-flex justify-content-center form_container">
        {% crispy form %}
    </div>
{% endblock %}







   
        

