<!-- templates/service_address/create.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %} 
<title>Novo endereço de atendimento</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Endereços de atendimento</h4>
        </div>
    </div>
    <div class="inner_container mt-4">
        <a class="btn btn-primary" href="{% url 'create_service_address' %}">
            Novo
        </a>
        {% if mensagem %}
            <p>{{ mensagem }}</p>
        {% endif %}
        <table class="custom_table mt-5">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Id</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for service_address in services_address %}
                <tr>
                    <td>
                        <div class="actions">
                            <form action="{% url 'delete_service_address' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="enderecoAtendimentoId" value="{{ enderecoAtendimento.id }}">
                                <input class="btn btn-primary" type="submit" value="Remover">
                            </form>
                        </div>
                    </td>
                    <td>{{ service_address.city }}</td>
                    <td>{{ service_address.state }}</td>
                    <td>{{ service_address.user.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
