<!-- Modal -->
<div class="modal" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ header }}</h5>
      </div>
      <div class="modal-body">
       {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary w-50" data-dismiss="modal">{{ cancel }}</button>
        <form action="{{ action_url }}" method="POST" class="modal-form w-50">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-confirm">{{ confirm }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
    $('#{{ modal_id }}').on('shown.bs.modal', function (event) {
        var modal = $(this);
        var button = $(event.relatedTarget); // Button that triggered the modal
        var query = button.data('query');

        if (query) {
          const params = query.split(',').map((param) => {
            return { 
              key: param.split('=')[0],
              value: param.split('=')[1]
            }
          });

          params.forEach((param) => {
            const hiddenField = `<input type="hidden" name="${param.key}" value="${param.value}">`;
            $('#{{ modal_id }} .modal-form').append(hiddenField);
          });
        }
        
        /* if (query) {
            modal.find('.btn-confirm').attr('href', "{{ action_url }}" + `${query}`);
        } */
    })
</script>