<!-- templates/navbar.html -->
{% load static %}
  <div>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#DCFFEE;">
		<a title="Voltar" href="#" class="btn btn-secondary btn-thin" type="button" onclick="history.back()">
			<span class="fas fa-chevron-left"></span>
		</a>
	  	<a class="btn btn-secondary btn-nav" href="{% url 'home' %}" style="color:darkgreen;">Início <span class="sr-only">(current)</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<p class="mr-2">
					Buscar
				</p>
				<div class="form-check form-check-inline">
  					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="vendedor" value="option1" checked>
					<label class="form-check-label" for="vendedor">Vendedor</label>
				</div>

				<div class="form-check form-check-inline">
  					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="produto" value="option2">
  					<label class="form-check-label" for="produto">Produto</label>
				</div>

				<div class="dropdown">
					<button class="btn btn-secondary btn-nav dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Categorias
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for category in categories %}
					  		<a class="dropdown-item" href="#">{{category.name}}</a>
						{% endfor%}
					</div>
				  </div>



				{% if request.user.is_authenticated %}
				<li class="nav-item">
					<a class="btn btn-secondary btn-nav" href="{% url 'home_seller' %}">Vender</a>
				</li>
				{% endif %}
				{% if request.user.is_admin %}
				<li class="nav-item">
					<a class="btn btn-secondary btn-nav" href="{% url 'home_admin' %}">Administrar</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-secondary btn-nav" href="#">Contato</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
 </div>
