<!-- templates/admin/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Administração</title>{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
	<div class="d-flex flex-column align-items-center">
        <div>
            <h4>Adicionar administrador</h4>
        </div>
        
        {% if mensagem %}
            <p>{{ mensagem }}</p>
        {% endif %}

        <div class="input-group mb-4 border rounded-pill p-1">
            <input id="user-search" type="search" placeholder="Procure por pessoas" aria-describedby="button-addon3" class="form-control bg-none border-0">
            <div class="input-group-append border-0">
              <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
            </div>
        </div> 
        <table id="user-table" class="custom_table mt-5">
            <thead>
                <tr>
                    <th>Ação</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>
                        <div class="actions">
                            <form action="{% url 'admin_make' %}" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="user_id" value="{{ user.id }}">
                              <input class="btn btn-primary" type="submit" value="Tornar admin">
                            </form>
                    
                        </div>
                    </td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
	</div>
  <script>
    document.getElementById('user-search').addEventListener('keyup', function(event) {
      filter = event.target.value.toUpperCase();
      tr = document.querySelector('#user-table tbody').getElementsByTagName('tr');
      console.log(filter)

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        tdNome = tr[i].getElementsByTagName("td")[1];
        tdEmail = tr[i].getElementsByTagName("td")[2];
        if (tdNome || tdEmail) {
          txtValueNome = tdNome.textContent || tdNome.innerText;
          txtValueEmail = tdEmail.textContent || tdEmail.innerText;
          if (txtValueNome.toUpperCase().indexOf(filter) > -1 || txtValueEmail.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    })
  </script>
{% endblock %}
