<!-- templates/product/create.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %} 
<title>Visualizar produto</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

<body>
  {% if messages %}
      {% for message in messages %}
          <div class="alert cart-item message {{ message.tags }}">
              <div>{{ message }}</div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      {% endfor %}
  {% endif %}
  <div class="d-md-flex flex-md-row p-5 shadow bg-white" style="border-radius: 0.3rem;">
    <div class="product-img mr-4">
      <img src="{{ product.product_pic.url}}">
    </div>
    <div class="d-flex flex-column justify-content-center w-100">
      <div class="d-flex flex-column align-items-end mb-5">
        <h2 class="m-0">{{ product.name }}</h2>
        <p>{{ product.category }}</p>
        <p>Vendido por <a href="{% url 'view_seller' product.user.id %}">{{ product.user.first_name }}</a></p>
        <p>{% if product.stock_amount > 0 %}Estoque restante: {{ product.stock_amount }} unidade(s){% else %}Sem estoque{% endif %}
      </div>
      <div class="d-flex flex-column align-items-end mb-4">
        <h3 class="m-0"><strong>R$ {{ product.price|floatformat:2|intcomma }}</strong></h3>
        <p>por unidade</p>
      </div>
      <div class="d-flex align-self-end">
        <form class="mr-2" method="POST" action="{% url 'create_favorite' %}">
          {% csrf_token %}
          <input type="hidden" name="product_id" value="{{product.id}}">
            <button class="btn btn-secondary favorite" type="submit" title="{% if favorites|length > 0 %}Desfavoritar{% else %}Favoritar{%endif%}">
              {% if favorites|length > 0 %}
                <span class="fas fa-heart fa-2x"></span>
              {% else %}
                <span class="far fa-heart fa-2x"></span>
              {% endif %}
            </button>
        </form>
        <form action="{% url 'create_cart'%}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="product_id", value="{{product.id}}">
          <input type="hidden" name="quantity", value="1">
          <button class="btn btn-primary btn-lg"
            type="submit"
            {% if product.stock_amount == 0 %} disabled title="Sem estoque"{% else %} title="Comprar agora" {% endif %}>
            Comprar agora</button>
        </form> 
      </div>
    </div>
  </div>

</body>


{% endblock %}