<!-- templates/delivery_time/create.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Gerenciar solicitação para vender</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Solicitações para ser produtor</h4>
        </div>
    </div>
    <div class="inner_container mt-4">

        <table class="custom_table mt-5">
            <thead>
            <tr>
                <th>Ação</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
            </tr>
            </thead>
            <tbody>
            {% if sellers|length > 0 %}
                {% for seller in sellers %}
                    <tr>
                        <td>
                            <div class="actions">
                                <a class="btn btn-primary" href="{% url 'view_request_seller' seller.id %}">Ver</a>
                            </div>
                        </td>
                        <td>{{ seller.first_name }}</td>
                        <td>{{ seller.email }}</td>
                        <td>{% firstof seller.phone_number 'Nenhum' %}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Nenhuma nova solicitação</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}