<!-- templates/product/create.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} 
<title>Visualizar vendedor</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

<body>
  <div class="d-md-flex flex-md-row p-5 shadow bg-white" style="border-radius: 0.3rem;">
    <div class="product-img mr-4">
      <img src="{{ seller.user_pic.url}}">
    </div>
    <div class="d-flex flex-column justify-content-start w-100">
      <div class="d-flex flex-column align-items-start mb-5">
        <h2 class="m-0">{{ seller.first_name }}</h2>
        {% if seller.phone_number %}
          <p>{{ seller.phone_number }}</p>
        {% endif %}
        <p>
          {{ seller.sale_description }}
        </p>
      </div>
      <div class="d-flex align-self-start">
        <a href="{% url 'search_products' %}?producer={{ seller.id }}" class="btn btn-primary">
          Ver produtos
        </a>
      </div>
    </div>
  </div>

</body>


{% endblock %}