{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <script href="{% static 'js/scripts.js' %}"></script>
{% endblock %}

{% block title %}
    <title>Cadastro</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center h-100">
        <div class="user_card w-100">
            <div class="d-flex flex-column align-items-center">
                <div class="mb-6" class="login_logo">
                    <img src="{% static 'images/logo.svg' %}" alt="Logo do DaRoça">
                </div>
                <div>
                    <h4 id="form-title">Cadastro de endereço</h4>
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                {% crispy form %}

            </div>
        </div>
    </div>
    <script>
        $("#id_zip_code").mask("00.000-000");
    </script>
{% endblock %}