{% extends 'users_profile/customer_home_base.html' %}

{% block title %}
<title>Endereços</title>
{% endblock %}

{% block page %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Endereços</h4>
        </div>
    </div>
    <div class="inner_container mt-4">
        <a class="btn btn-primary" href="{% url 'create_customer_address' %}">
            Adicionar
        </a>
        <table class="custom_table mt-5">
            <thead>
            <tr>
                <th>Ações</th>
                <th>CEP</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Bairro</th>
                <th>Logradouro</th>
                <th>Número</th>

            </tr>
            </thead>
            <tbody>
            {% if addresses|length > 0 %}
                {% for address in addresses %}
                    <tr>
                        <td>
                            <div class="actions">
                                <a class="btn btn-primary" href="{% url 'update_address' address.id %}">
                                    <span class="fas fa-edit"></span>
                                </a>
                                <button type="button"
                                    class="btn btn-danger"
                                    data-toggle="modal"
                                    data-target="#includedModal"
                                    data-query="address_id={{ address.id }}"
                                    tittle="Deletar horário de entrega">
                                    <span class="fas fa-trash"></span>
                                </button>
                            </div>
                        </td>
                        <td>
                            {% if address.zip_code %}
                                {{ address.zip_code }}
                            {% endif %}
                        </td>
                        <td>
                            {% if address.state %}
                                {{ address.state }}
                            {% endif %}
                        </td>
                        <td>
                            {% if address.city %}
                                {{ address.city }}
                            {% endif %}
                        </td>
                        <td>
                            {% if address.district %}
                                {{ address.district }}
                            {% endif %}
                        </td>
                        <td>
                            {% if address.street %}
                                {{ address.street }}
                            {% endif %}
                        </td>

                        <td>
                            {% if address.house_number %}
                                {{ address.house_number }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">Nenhum endereço cadastrado</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% url 'delete_address' as action_url %}
    {% include 'modal.html' with modal_id="includedModal" header="Excluir endereço?" message='Tem certeza que deseja excluir o endereço?' confirm="Sim" cancel="Cancelar" %}
{% endblock %}
