{% extends 'users_profile/customer_home_base.html' %}


{% block page %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Endereços</h4>
        </div>
    </div>
    <div class="inner_container mt-4">
        <a class="btn btn-primary" href="{% url 'create_customer_address' request.user.username %}">
            Adicionar
        </a>
        <table class="custom_table mt-5">
            <thead>
            <tr>
                <th>CEP</th>
                <th>ESTADO</th>
                <th>CIDADE</th>
                <th>BAIRRO</th>
                <th>RUA</th>
                <th>NÚMERO</th>

            </tr>
            </thead>
            <tbody>
            {% for address in addresses %}
                <tr>
                    <td>
                        {% if address.zip_code %}
                            {{ address.zip_code }}
                        {% endif %}
                    </td>
                    <td>
                        {% if address.state %}
                            {{ address.state }}
                        {% endif %}
                    </td>
                    <td>
                        {% if address.city %}
                            {{ address.city }}
                        {% endif %}
                    </td>
                    <td>
                        {% if address.district %}
                            {{ address.district }}
                        {% endif %}
                    </td>
                    <td>
                        {% if address.street %}
                            {{ address.street }}
                        {% endif %}
                    </td>

                    <td>
                        {% if address.house_number %}
                            {{ address.house_number }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
