{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Pedidos</title>
{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Pedidos</h4>
        </div>
    </div>
    <div class="inner_container mt-4">
        <form class="input-group mb-4 border-custom rounded-pill mt-5 p-1" method="get" action="{% url 'list_all_orders' %}">
            <input id="custom_table-search" required name="search"
                value="{% if search %}{{search}}{%endif%}" type="search"
                placeholder="Procure por nome do cliente, ID ou cidade do pedido"
                aria-describedby="button-addon3" class="form-control bg-white border-0">
            <div class="input-group-append">
                {% if search %} <a class="btn btn-secondary mr-1" href="{% url 'list_all_orders' %}">&times;</a> {% endif%}
            </div>
            <div class="input-group-append border-0">
              <button id="button-search" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <table class="custom_table mt-5 table-hover">
            <thead>
            <tr>
                <th>Ações</th>
                <th>ID</th>
                <th>Status</th>
                <th>Local</th>
                <th>Método de pagamento</th>
                <th>Status pagamento</th>
                <th>Valor Total</th>

            </tr>
            </thead>
            <tbody>
            {% if orders|length > 0 %}
                {% for order in orders %}
                
                    <tr class="order-cell" id="{{ order.id }}" style="cursor: pointer">
                        <a>
                            <td>
                                <div class="actions" style="z-index: 99;">
                                    <a class="btn btn-primary" title="Ver pedido" href="{%url 'seller-order-detail' %}?order_id={{order.id}}">
                                        <span class="fas fa-eye"></span>
                                    </a>
                                    {% if order.status != 4 and user.is_admin %}
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                            data-target="#includedModal" data-query="order_id={{ order.id }}" 
                                            title="Cancelar compra"><span class="fas fa-ban"></span>                           
                                        </button>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                {% if order.id %}
                                    {{ order.id }}
                                {% endif %}
                            </td>
                            <td>
                                {% if order.get_status %}
                                    {{ order.get_status }}
                                {% endif %}
                            </td>
                            <td>
                                {% if order.address %}
                                    {{ order.address.city }} - {{ order.address.state }}
                                {% endif %}
                            </td>
                            <td>
                                {% if order.payment.type %}
                                    {{ order.payment.get_type }}
                                {% endif %}
                            </td>
                            <td>
                                {% if order.payment.get_status %}
                                    {{ order.payment.get_status }}
                                {% endif %}
                            </td>
                            <td>
                                {% if order.total_price %}
                                    R$ {{ order.total_price }}
                                {% endif %}
                            </td>
                        </a>
                    </tr>

                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">{% if search %}Nenhum pedido encontrado na pesquisa{% else %}Nenhum pedido feito{% endif %}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <!-- <script>
        $('.order-cell').on('click', function () {
            const order_id = $(this).attr('id')
            window.location.replace(`{% url 'seller_order_detail' %}?order_id=${order_id}`)
        })
    </script> -->
    {% url 'cancel_order' as action_url %}
    {% include 'modal.html' with modal_id="includedModal" header="Cancelar compra?" message='Tem certeza que deseja cancelar a compra' confirm="Sim" cancel="Cancelar" %}
{% endblock %}
