<!-- templates/delivery_time/create.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %} 
<title>Novo horário de entrega</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Onde você irá atender</h4>
        </div>
    </div>
    <div class="d-flex justify-content-center form_container">
        <form action="{% url 'create_delivery_time' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="service_address">Endereço Atendimento</label>
                <input class="form-control" type="number" name="service_address_id" id="service_address">
            </div>
            <div class="form-group">
                <label for="time">Hora</label>
                <input class="form-control" type="time" name="time" id="time">
            </div>
            <div class="form-group">
                <label for="day">Dia</label>
                <select class="form-control" name="day" id="day">
                    <option value="segunda">Segunda-feira</option>
                    <option value="terca">Terça-feira</option>
                    <option value="quarta">Quarta-feira</option>
                    <option value="quinta">Quinta-feira</option>
                    <option value="sexta">Sexta-feira</option>
                    <option value="sabado">Sábado</option>
                    <option value="domingo">Domingo</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
{% endblock %}