{% block title %}
    <title>Horários de Entrega</title>

{% endblock %}
{% block content %}
<div class="body">
        <h3>Horários de Entrega</h3>
        <a href="{% url 'create_delivery_time' %}">Novo horário de entrega</a>
        {% if mensagem %}
            <p>{{ mensagem }}</p>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Id</th>
                    <th>Dia</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for delivery_time in delivery_times %}
                <tr>
                    <td>
                        <form action="{% url 'delete_delivery_time' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="horarioEntregaId" value="{{ delivery_time.id }}">
                            <input type="submit" value="Remover">
                        </form>
                    </td>
                    <td>{{ delivery_time.time }}</td>
                    <td>{{ delivery_time.day }}</td>
                    <td>{{ delivery_time.service_address.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}]



    
