<!-- templates/delivery_time/create.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Novo horário de entrega</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Horários de entrega</h4>
        </div>
    </div>
    <div class="inner_container mt-4">
        <a class="btn btn-primary" href="{% url 'create_delivery_time' service_address_id %}">
            Novo
        </a>
        {% if mensagem %}
            <p>{{ mensagem }}</p>
        {% endif %}
        <table class="custom_table mt-5">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Id</th>
                    <th>Dia</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for delivery_time in delivery_times %}
                <tr>
                    <td>
                        <div class="actions">
                            <form action="{% url 'delete_delivery_time' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="delivery_time_id" value="{{ delivery_time.id }}">
                                <input class="btn btn-primary" type="submit" value="Remover">
                            </form>
                            <a class="btn btn-primary" href="{% url 'update_delivery_time' delivery_time.id %}">Editar</a>
                        </div>
                    </td>
                    <td>{{ delivery_time.service_address.id }}</td>
                    <td>{{ delivery_time.day }}</td>
                    <td>{{ delivery_time.time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}