{% extends 'users_profile/customer_home_base.html' %}
{% load humanize %}

{% block title %}
<title>Pedidos</title>
{% endblock %}

{% block page %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Pedidos</h4>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert cart-item message {{ message.tags }}">
                    <div>{{ message }}</div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="inner_container mt-4">
        <table class="custom_table mt-5">
            <thead>
            <tr>
                <th>Ações</th>
                <th>Nº do pedido</th>
                <th>Status</th>
                <th>Forma de pagamento</th>
                <th>Local</th>
                <th>Produtor</th>
                <th>Valor Total</th>

            </tr>
            </thead>
            <tbody>
            {% if orders|length > 0 %}
                {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'view_order' order.id %}" class="btn btn-primary" title="Ver pedido">
                                <span class="fas fa-eye"></span>
                            </a>
                        </td>
                        <td>
                            {{ order.id }}
                        </td>
                        <td>
                            {% if order.get_status %}
                                {{ order.get_status }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.payment.type %}
                                {{ order.payment.get_type }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.address %}
                                {{ order.address.city }} - {{ order.address.state }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'view_seller' order.get_producer.id %}">{{ order.get_producer.first_name }}</a>
                        </td>
                        <td>
                            {% if order.total_price %}
                                R$ {{ order.total_price|floatformat:2|intcomma }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">Nenhum pedido feito</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
