{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script href="{% static 'js/' %}"></script>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
    <link rel="stylesheet" href="{% static 'css/style_ch.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-lg-2 text-left p-0">
            <nav class="user-menu active">
                <ul class="list-unstyled d-flex flex-wrap justify-content-center">
                    <li class="active">
                        <a href="#" class="btn btn-secondary"><i class="fas fa-box-open"></i>
                            Pedidos
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'update_customer' request.user.username %}" class="btn btn-secondary"><i class="fas fa-user"></i>
                            Cadastro
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'list_customer_address' request.user.username %}" class="btn btn-secondary"><i class="fas fa-map-marked-alt"></i>
                            Endereços
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-secondary"><i class="far fa-credit-card"></i>
                            Cartões
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-secondary"><i class="fas fa-star"></i>
                            Avaliações
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-12 col-lg-9">
            {% block page %}
            
            {% endblock %}
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}