{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	<title>Cadastro</title>
{% endblock %}

{% block content %}
	<div class="d-flex justify-content-center h-100">
		<div class="user_card">
			<div class="d-flex flex-column align-items-center">
				<div class="mb-5" class="login_logo">
					<img src="{% static 'images/logo.svg' %}" alt="Logo do DaRoça">
				</div>
				<div>
					<h3 id="form-title">Login</h3>
				</div>
			</div>
			<div class="d-flex justify-content-center form_container">
				{% crispy form %}

			</div>
			{% for message in messages %}
				<p id="messages">{{message}}</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}