<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>Login</title>
{% endblock %}

{% block content %}
	<div class="d-flex justify-content-center h-100">
		<div class="user_card">
			<div class="d-flex flex-column align-items-center">
				<div class="mb-5" class="login_logo">
					<img src="{% static 'images/logo.svg' %}" alt="Logo do DaRoça">
				</div>
				<div>
					<h3 id="form-title">Login</h3>
				</div>
			</div>
			<div class="d-flex justify-content-center form_container">
				<form method="POST" action="">
					{% csrf_token %}
					<div class="input-group mb-3">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="username" placeholder="E-mail" class="form-control">
					</div>
					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
							<input type="password" name="password" placeholder="Senha" class="form-control" >
					</div>

						<div class="d-flex justify-content-center mt-3 login_container">
							<input class="btn login_btn" type="submit" value="entrar">
						</div>
				</form>

			</div>
			{% for message in messages %}
				<p id="messages">{{message}}</p>
			{% endfor %}
			<div class="mt-4">
				<div class="d-flex justify-content-center links">
					Não tem conta? <a href="" class="ml-2">Cadastre-se</a>
				</div>
		
			</div>
		</div>
	</div>
{% endblock %}