<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Entrar</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex flex-column align-items-center">
                <div class="mb-5" class="login_logo">
                    <img src="{% static 'images/logo.svg' %}" alt="Logo do DaRoça">
                </div>
                <div>
                    <h3 id="form-title">Recuperar senha</h3>
                </div>
                <p>
                    Insira uma nova senha para acessar sua conta.
                </p>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}

                                    <li class="error">{{ error|escape }}</li>

                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="input-group mb-1">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form.new_password1 }}

                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form.new_password2 }}
                    </div>
                    <input class="mt-4 btn btn-primary" type="submit" value="Atualizar">
                </form>

            </div>
        </div>
    </div>
    <script>
        $('#id_new_password1').addClass('form-control')
        $('#id_new_password2').addClass('form-control')
        $('#id_new_password1').attr('placeholder', 'Nova senha')
        $('#id_new_password2').attr('placeholder', 'Confirmar nova senha')
    </script>
{% endblock %}