<!-- templates/home/create.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %} 
<title>Categorias</title>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div>
            <h4>Categorias</h4>
        </div>
    </div>
    <div class="inner_container mt-4">
        <a class="btn btn-primary" href="{% url 'create_category' %}">
            Novo
        </a>
        {% if mensagem %}
            <p>{{ mensagem }}</p>
        {% endif %}
        <table class="custom_table mt-5">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
            {% if categories|length > 0 %}
                {% for category in categories %}
                <tr>
                    <td>
                        <div class="actions">
                            <button type="button"
                                class="btn btn-danger"
                                data-toggle="modal"
                                data-target="#includedModal"
                                data-query="category_id={{ category.id }}"
                                tittle="Deletar categoria">
                                <span class="fas fa-trash"></span>
                            </button>
                          
                            <a class="btn btn-primary" href="{% url 'update_category' category.id %}" tittle="Editar categoria">
                                <span class="fas fa-edit"></span>
                            </a>
                        </div>
                    </td>
                    <td>{{ category.name }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">Nenhuma categoria cadastrada</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% url 'delete_category' as action_url %}
    {% include 'modal.html' with header="Excluir categoria?" message='Tem certeza que deseja excluir a categoria?' confirm="Sim" cancel="Cancelar" %}
{% endblock %}
